body   
{
 	 align-content:center;
	 text-align: center;
	 margin: auto;
}
a{
	color: grey;
	text-decoration: none;
	font-size: small;
	
}
span.bold
{
    font-weight: bold;	
}
.float-right
{
	float: right;
}
.float-left
{
	float: left;
}
/*
a  class that wraps around each of the website section ( header , event, solutions..) 
*/
.section-container
{
	width: 940px;
	margin: auto;
}
.header-section
{
	background-color: white;	
    box-shadow: 0 1px 3px 0 grey;
	display: block;
	position: absolute;
	width:100%;
	/*height: 90px;*/
}
.logo
{
	float: left;
	margin: 15px;

}
.search-line-divider
{
	background-image: url(../img/search_line_devider.png);
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 55px;
	padding: 10px;
}
.normal-top-padding
{
 	margin-top: 0px;
}
.no-line-divider
{
	background-image: none;
}
.header-right
{
	width: 189px;
}
.language-selector
{
	border: 0cm; 
}
.search-form
{
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 6px;
	margin-top: 65px;
	
}
.search-box
{
	border: 0cm;
	border-style: none;
	background-image: url(../img/search_line_devider.png);
	background-repeat: no-repeat;
	background-position: right;
	
	
}
/******************************** */
/* Slides */
.slides
{
	background-image: url(../img/slide-bg-complexity.jpg);
	background-attachment: fixed;
	background-position: center;
    background-size: cover;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	height:450px;
	padding-top: 95px;
	color: white;
}
.slides-header
{
	margin-top:35px;
}
.Blue-button-div
{
	background-color: rgb(38, 147, 201);
	color: white;
    border-radius: 6px;
    width: 150px;
    box-shadow: 0 1px 3px 0 grey;
    font-size: small;
    padding: 8px;
    margin-top: 20px;
}
.btnArrow
{
	float:right;
	padding: 3px;
}
.bullets
{
	margin-top: 10px;
}
.bullet
{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	background-color: white;
	margin-right: 5px;
	
}
.bullet:hover
{
	background-color: rgb(38, 147, 201);	
}
.slides-boxes
{
	margin-top:40px;
}
.li-slide
{
	float: left;
	border-radius: 6px;
	box-shadow: 0 1px 3px 0 grey;
	text-align: left;
	width: 250px;
	margin-right: 35px;
	font-size: 1.3em;
	padding: 20px 15px 15px 15px;
}
.li-slide:hover
{
	cursor: pointer;	
}
/****************heree li slides colors**/ 
.pink
{
background-color:rgba(252,60,157,0.8);	
}
.pink:hover
{
	background-color:rgb(252,60,157);
}
.green
{
	background-color:rgba(101,193,43,0.8);
}
.green:hover
{
	background-color:rgba(101,193,43,1);
}
.orange
{
	background-color: rgba(226,116,0,0.8)
}
.orange:hover
{
	background-color: rgba(226,116,0,1)
}
.slide-box-bottom-link
{
	padding-top: 25px;
}
.slide-box-icon
{
	display: inline;
}
.read-more
{
	font-size: 0.7em;
	display: inline;
	vertical-align: middle;
}
.slide-content-wrapper
{
	width: 100%;
	height: 100%;
	color: white;

}
/******************************** */

#solutions
{
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	background: url(../img/WeDoBg.png),radial-gradient(ellipse at center, #63bfd9 0%,#3399cd 100%);
}
.Solutions-title
{
	padding:40px;
}
.solution-item
{
	margin: 0%;
	float: left;
	width:150px;
	cursor: pointer;
}
.solution-icon
{
	height:65px;
	width:135px;
	background-repeat: no-repeat;
	background-position: center;
}

/* solutions- icon urls are at the bottom*/

.solutions-button
{
	background-color:rgba(51,153,205,0.5);
	color: white;	
	box-shadow: 0 1px 3px 0 grey;
	border-radius: 6px;
	text-align: left;
	padding: 10px;
	width: 200px;
	border-width: 0px;
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-image: url(../img/btnArrow.png) ;
	margin:50px 0px 15px 0px;
	cursor: pointer;
}

/** 		Events section **/
.events-header
{
	padding-top:40px;
}
.events
{
	background-image: url(../img/news-and-events-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-position: center;
	background-size: cover;
	color: white;
	align-content:center;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	min-height:420px;
}
.events-boxes
{
	padding-top:45px;
}
.event-box
{
	float: left;
	text-align: left;
	
}
.blurred-box
{
 	background-color:rgba(255,255,255,0.4);
	border-radius: 2px;
	 width:288px;
	 height: 120px;
	 color: white;
	 margin-right:25px;
}

.blurred-box:hover
{
	background-color: rgba(255,255,255,0.7);
}
.event-date
{
	background-color: rgb(51,153,204);
	border-radius: 1px;
	width: 70px;
	height:100px;
	margin: 10px;
	color: white;
}
.event-day
{
	font-size: 4em;
	text-align: center;
	border-bottom-style: dotted;
	border-color: white;

}
.event-month
{
	text-align: center;
	padding: 5px;
	font-size: 1.5em;
}
.event-text
{
	padding-top: 10px;
	color:  black;

	
	
}
.event-small-icon
{
	background-position: left;
	margin-top:10px;
	padding-left: 30px;
	background-repeat: no-repeat;
	padding-top:5px;
	font-size: small;
	color:white;
}
.event-small-icon:hover
{
	color:rgb(30,30,30);	
}
.news-icon
{
	background-image: url(../img/eventListIconNews.png);
}
.news-icon:hover
{
	background-image: url(../img/eventListIconNews_hover.png);
	
}
.all-events-icon
{
	background-image: url(../img/eventListIconEvents.png);
}
.all-events-icon:hover
{
	background-image: url(../img/eventListIconEvents_hover.png);
}
.all-press-releases
{
	background-image: url(../img/eventListIconPress);
}

/* Success Stories CSS Section */

.success-stories
{
	background-color: rgb(236,236,236);
	color:rgb(86,86,86);
	height: 550px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.success-stories-title
{
	color:rgb(86,86,86);
}
.success-story
{
	height: 310px;
	width: 345px;
	color:#7c7c7c;
	margin-right: 10px;
	float:left;

}

.third-success-story
{
	width:226px;
	margin-right: 0px;
}
.success-story-quate
{
	background-color: white;
	text-align: left;
}
/* did not work
.success-story-container
{
	overflow: hidden;
		width :100%;
	height:203px;
}
.success-story-quate:hover
{
	transform:translateY(-100%);
}

.bottom-layer
{
	background-color: rgb(58,165,218);
	width: 100%x;
	height: 203px;
	margin-bottom:10px;
	z-index: 1;
}*/
.quate-upper-section
{
	width:100%;
	height:110px;
	border-bottom: 1px solid lightgrey;
	
}
.quate-img
{
	height: 110px;
	width: 100px;

}

.quate-auther
{
margin-top: 10px;
padding-left: 5px;
padding-bottom: 5px;	
margin-bottom: 10px;
}
.auther-name
{
	color:lightblue;
	font-weight: normal;
}
.auther-position
{
	font-weight: normal;
}

.success-story-icon-box{
	width:108px;
	height: 100px;
	text-align: center;
	background-color: white;
	margin-right: 10px;
	float: left;
}
.middle-ss-icons-top
{
	margin-top: 15px;
	margin-bottom: 125px;
}
.success-stories-button
{
	clear: left;
	margin: 380px auto auto auto;
	width: 200px; 
    
}
/**** 	Footer CSS	****/
.footer
{
	background-image: url(../img/footer-bg.png);
	height: 323px;
	color: white;
	padding-top: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.9em;
}
.footer-colomn
{
	float: left;
	text-align: left;
	margin-right: 70px;
}
.footer-list
{
	list-style: none;
	
}

.footer-list-item:hover
{	
    text-decoration: underline;
}
.footer-blog
{
	background-color:rgba(255,255,255,0.2);
	width:288px;
	margin:-15px 0px 0px 0px;
}
.latest-blog-posts
{	
	border-bottom:  1px solid grey;
	width:270px;
	margin:15px;
}
.footer-blue-header
{
	color:rgb(78,167,211);
}
.latest-blog-posts-date
{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	float:left;
	margin-right: 20px;
}
.latest-blog-posts-text
{
	width:250px;
	font-size: 1.3em;
	text-align: left;
	padding-left:20px;
}
.subscribe
{
	width:270px;
	margin-left:15px;
	
}
.subscribtion-form
{
	background-color: white;
	border-radius: 2px;
	padding: 0px;
}
.email-input
{
	border: none;
    border-style: none;
	height: 28px;
	width:70%;
	padding: 0 0 0 5px ;
	
}
.sign-up-button
{
	background-color: rgb(67,176,230);
	color:white;
	border:none;
	border-radius: 1px;
	margin:0;
	height: 28px;
	width:28%;
	float: right;
}
.social-media-links
{
	margin-top: 40px;
	margin-left: 15px;
}
.social-media-icon
{
	float:left;
	margin:2px;
}
.copyrights
{
	color: grey;
	padding-top: 40px;
	text-align: left;
	clear: left;
}
/***** General classes ********/
.no-right-margin
{
	margin-right:0px;
}
.center
{
	text-align: center;
}
h1
{
	font-size: 3em;
	font-weight: lighter;
	padding: 0in; 
	margin: 2px;
}
h2
{
	margin:0px;
	padding-top: 10px;
 	font-size: 2em;	
	font-weight: lighter;
}
h4
{
	padding : 0px;
	margin: 0px;
	font-weight: lighter;
}
ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

/* footer  css Section*/


/*solutions icons urls*/
.business-stimulating-analytics
{
	background-image: url(../img/solution_icon_biz-analitics.png);
}
.business-stimulating-analytics:hover
{
	background-image: url(../img/solution_icon_biz-analitics_hover.png);
}

.digital-customer-experience
{
	background-image: url(../img/solution_icon_diti-cx.png);
}
.digital-customer-experience:hover
{
	background-image: url(../img/solution_icon_diti-cx_hover.png);
}

.smart-monetization
{
	background-image: url(../img/solution_icon_smart-money.png);
}
.smart-monetization:hover
{
	background-image: url(../img/solution_icon_smart-money_hover.png);
}

.optimmization-and-efficiency
{
	background-image: url(../img/solution_icon_optimize-efficnt.png);
}
.optimmization-and-efficiency:hover
{
	background-image: url(../img/solution_icon_optimize-efficnt_hover.png);
}

.personalized-choice
{
	background-image: url(../img/solution_icon_personal.png);
}
.personalized-choice:hover
{
	background-image: url(../img/solution_icon_personal_hover.png);
}

.bnusiness-transformation
{
	background-image: url(../img/solution_icon_biz-transform.png);
}
.bnusiness-transformation:hover
{
	background-image: url(../img/solution_icon_biz-transform_hover.png);
}